<div class="container">
  <div class="header clearfix">
    <ul class="nav nav-pills pull-right">
      <li >
        <a href="#/manage">
          <i class="glyphicon glyphicon-comment text-muted"></i> Manage</a>
      </li>
      <li >
        <a  href="#/team">
          <i class="glyphicon glyphicon-user text-muted"></i> Groups</a>
      </li>
      <li >
        <a  href="#/manage/rule/all">
          <i class="glyphicon glyphicon-user text-muted"></i> All rules</a>
      </li>
      <li >
        <a >
          <i class="glyphicon glyphicon-user text-muted"></i> All admins</a>
      </li>
      <li>
        <a >
          <i class="glyphicon glyphicon-user text-muted"></i> TensorFlow</a>
      </li>
      <li>
        <a >
          <i class="glyphicon glyphicon-user text-muted"></i>Cloud Vision</a>
      </li>

      <li>
        <a >
          <i class="glyphicon glyphicon-off text-muted"></i> Logout</a>
      </li>
    </ul>
  </div>
</div>